<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="<%= root %>/output.css">
</head>
<body>
  <main class="main">
    <!-- Ne pas toucher ce if-else -->
    <% if (component) { %>
      <%- include(component) %>
    <% } else if (!component && url !== '/') { %>
      <p>Aucun composant ou styles de composant n'existe dans <%= path %></p>
    <% } else { %>
      
      <!-- Supprimer ce contenu pour commencer à dev -->

      <h1 class="h1-like">Hello World ! 🌍</h1>
      <ul class="mt-10 text">
        <li class="mt-3 list-item">
          Les composants s'écrivent dans <code>./components/xxx.ejs</code>
        </li>
        <li class="mt-3 list-item">
          Les styles s'écrivent dans <code>./assets/css/xxx.scss</code>
        </li>
        <li class="mt-3 list-item">
          Chaque composant doit au moins avoir son propre fichier <code>scss</code>
        </li>
      </ul>

      <h2 class="h2-like">
        Lancement dev
      </h2>

      <code>
        npm run dev
      </code>

      <h2 class="h2-like">
        Build production
      </h2>

      <code class="mt-5">
        npm run build
      </code>

      <blockquote>
        Pour une meilleur expérience, pensez à désactiver le cache -> par exemple pour le css
      </blockquote>
    <% } %>
  </main>
</body>
</html>